{# templates/profile/user_games.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Your Steam Games</h1>

    <ul id="user_games_list">
    </ul>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/fetchUserGames.js') }}"></script>
{% endblock %}
