{% extends 'base.html.twig' %}

{% block title %}instagram 2{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/main_content.css') }}"/>
    <div class="feed-options">
        <div class="feed-buttons">
            <div class="feed-button">
                <button> steamwave </button>
            </div>
            <div class="feed-button">
                <button> feed </button>
            </div>
        </div>
    </div>
    <!--    feed    =====================================0
               aqui debería haber un metodo que cargue posts en la feed y a partir de una plantilla parcial para cada post -->
    <div class="feed">

        {% include 'partials/_posts_list.html.twig' with { posts: posts } %}

    </div>

    <!--    boton para postear  -->
    <div class="post-button">
        <img src="{{ asset('res/icons/star.svg') }}" alt="Star Icon">
    </div>

    <!--    panel lateral derecho   -->
    <link rel="stylesheet" href="{{ asset('css/chatPanel.css') }}"/>
    <aside class="rigth-aside">

        {{ include ('partials/_chatPanel.html.twig') }}
    </aside>

{% endblock %}
