{% extends 'base.html.twig' %}

{% block title %}instagram 2{% endblock %}

{% block body %}
    <!-- barra de arriba -->
    <link rel="stylesheet" href="{{ asset('css/home/main_content.css') }}"/>
    <nav class="nav-home">
        <ul>
            <li><a href="#" class="nav-element" ><h3>Steamwave</h3></a></li>
            <li><a href="#" class="nav-element" ><h3>Siguiendo</h3></a></li>
            </ul>
    </nav>
    <!-- posts -->
    <div class="feed">
        {% include 'partials/_posts_list.html.twig' with { posts: posts } %}
    </div>

    <!--    boton para postear  -->
    <a href="{{ path('app_post_new') }}" class="post-button">
        <img src="{{ asset('res/icons/wave.svg') }}" alt="Star Icon">
    </a>


    <!--    panel lateral derecho   -->
    <link rel="stylesheet" href="{{ asset('css/home/chatPanel.css') }}"/>
    <aside class="rigth-aside">
        {% include 'partials/_chatPanel.html.twig' with { user: user } %}
    </aside>

{% endblock %}
