/* Perfil - Ajustes para el contenedor principal */
.user-banner {
    display: flex;
    justify-content: flex-start;
    border-radius: 15px;
    border: 2px solid #c1dbf4;
    padding: 20px;
    flex: 1;
    background-size: auto 100%; /* Asegura que la imagen cubra todo el fondo */
    background-position: right;
    background-repeat: no-repeat;
}

.profile-content{
    display: flex;
    flex-direction: column;
    margin: 20px 20px 20px 20px;
}

/* Imagen de perfil */
.profile-picture {
    min-width: 150px;
    min-height: 150px;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Datos del usuario */
.user-data {
    flex: 1;
}

/* Datos de los juegos del usuario */
.user-games {
    justify-content: left;
    flex: 2;
}

/* Barra de navegación horizontal */
nav.nav-bar {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: linear-gradient(to right, #293645, #394553, #293645);
    transition: background 0.3s ease-in-out;
    border-radius: 10px;
    flex: 1;
}

nav.nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav.nav-bar ul li {
    margin: 0 15px;
}

nav.nav-bar ul li a {
    text-decoration: none;
    color: #c1dbf4;
    font-size: 18px;
    font-weight: bold;
    transition: background 0.3s ease-in-out;
}

nav.nav-bar ul li a:hover {
    color: #c1dbf4;
    background: linear-gradient(to right, #4a596c, #55677a, #4a596c);
    border-radius: 7px;
    padding: 5px 5px 5px 5px;
}

/* content */
.nav-content {
    max-width: 100%;
    flex: 1;
    border-radius: 10px;
    border: 2px solid #c1dbf4;
    padding: 15px;
}
