<link rel="stylesheet" href="{{ asset('css/chatPanel.css') }}"/>
<div class="container">
    <div class="chat-section">

    </div>
    <div class="profile-section">
        <div class="profile-icon"></div>
        <p class="profile-text">PERFIL</p>
    </div>
</div>