<link rel="stylesheet" href="css/chatPanel.css"/>
<div class="container">
    <div class="speech-bubble"></div>
    <div class="profile-section">
        <div class="profile-icon"></div>
        <p class="profile-text">PERFIL</p>
    </div>
</div>