<link rel="stylesheet" href="{{ asset('css/feedEntry.css') }}"/>

<div class="entire-post">
    <div class="profileImg"><img></div>
    <div class="feed-entry">

        <div class="user"> <h2>user</h2></div>
        <div class="post-text">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam posuere mollis urna at congue. Nullam ac euismod lorem. Curabitur orci diam, fermentum vel leo at, pharetra fermentum erat. Sed id diam vestibulum, dictum tellus a, venenatis neque. Maecenas leo sapien, interdum quis facilisis eu, vestibulum vel orci. Duis tincidunt, sem quis sollicitudin cursus, enim sem sollicitudin nibh, nec suscipit ex odio quis orci. Duis quis placerat ante, at maximus tortor. Proin semper tellus orci, at semper felis venenatis a. Curabitur malesuada erat eu neque posuere ultricies. Pellentesque odio nisl, vestibulum sit amet lobortis quis, tempus eget sapien. Phasellus rutrum, sem eu sagittis egestas, augue velit venenatis arcu, a porttitor ex lorem non elit.
            </p>
        </div>
        <div class="post-image"></div>
        <div class="post-tag">
            <p class="tag">
                dredge
            </p>
        </div>
    </div>
</div>
