{# templates/profile/user_games.html.twig #}

    <h1>Your Steam Games</h1>

    <ul id="user_games_list">
    </ul>

{% block javascripts %}
    <script src="{{ asset('js/fetchUserGames.js') }}"></script>
{% endblock %}
