.content { /* overtriteamos el de base para que no exista la barra de la derecha */
    padding-left: 100px;
    max-width: 100%;
    padding-right: 20px;
}
.boton-de-mierda{
    background-color: #00000000;
    border: 0;
}
a, p{
    color:black;
}
.chats-content{
    padding: 10px;
    margin-left: 20px;
    margin-top: 20px;
    background-color: #f0f0f0;
    border-radius: 30px;
}

.title{
    padding-left: 10px;
}

.create-btn p{
    color: #f0f0f0;
    padding: 5px;
    border: #2e4681;
    background-color: #2e4681;
    border-radius: 30px;

    margin-bottom: 20px;
}
.create-chat{
    color: #f0f0f0;
    padding: 5px;
    border: #2e4681;
    background-color: #2e4681;
    border-radius: 30px;

    margin-bottom: 20px;
}
.chat-li{
    margin-left: -30px;
    list-style-type: none;

    display: block;
}
.chat{
    padding: 30px;
    background-color: #c3c3c3;
    border-radius: 30px;

    margin: 5px;
}
.message{
    display: inline-list-item;

    padding: 10px;
    background-color: #a8a8a8;
    border-radius: 30px;
    width: fit-content;
}
.your-message{
    border: 3px solid #73AD21; /* tu mensaje se muestra en verde */
    padding: 10px;

    position: relative;
}
