@font-face {
    font-family: Poppins;
    src: url('../res/fonts/Poppins-Regular.ttf');
}
/* Page content */
body {
    font-family: "Poppins", sans-serif;

}
.main {
    margin-left: auto; /* Same as the width of the sidenav */
}

/* =========0 barra lateral =================0 */
.sidenav {
    height: 100%;
    width: 100px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 1rem;
}

.sidenav button {

    background-color: #111;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.2s;

    margin-left: auto;
    margin-right: auto;

    margin-bottom: 15px;
    width: 50%;

}

.sidenav button:hover {
    color: #f0f0f0;
    background-color: #333;
    border-collapse: collapse;
    border-radius: 10px;
}
.sidenav img {
    height: 100%;
    width: 100%;
}
/* =======================================
    ajustes
*/
.options{
    position: absolute;   /* Posicionamiento absoluto dentro del contenedor */
    bottom: 20px;         /* 20px desde el borde inferior del contenedor */
    left: 20px;           /* 20px desde el borde izquierdo del contenedor */
    background-color: #333;  /* Fondo para el div flotante */
    color: white;         /* Color del texto */
    padding: 10px;        /* Espaciado interno */
    border-radius: 5px;   /* Bordes redondeados */
}
.options img{
    height: 100%;
    width: 100%;
}

/* ================ no se =================*/

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}