/* Page content */
body {
    font-family: "Lato", sans-serif;
}
.main {
    margin-left: auto; /* Same as the width of the sidenav */
}

/* =========0 barra lateral =================0 */
.sidenav {
    height: 100%;
    width: 100px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 1rem;
}

.sidenav button {

    background-color: #111;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.2s;

    margin-left: auto;
    margin-right: auto;

    margin-bottom: 15px;
    width: 50%;


}

.sidenav button:hover {
    color: #f0f0f0;
    background-color: #333;
    border-collapse: collapse;
    border-radius: 10px;
    ;
}
.sidenav img {

    height: 100%;
    width: 100%;
}
/*
.options{
    position: absolute;
    bottom: 40px;
    right: auto;
}
.options img{
    height: 100%;
    width: 100%;
}
*/


/* ================ no se =================*/

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}