@font-face {
    font-family: UserHeader;
    src: url('../res/fonts/Poppins-Bold.ttf');
}
.example-wrapper{
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    width: 97%;
    height: 20%;
    background-color: #2f3c4b;
    border-radius: 10px;
    box-shadow: -4px -4px 4px rgb(0 0 0 / 20%);
    position: relative;
}
.user{
    font-size: 16pt;
    font-family: "UserHeader", sans-serif;
}