/*  ===================================
    estilo para la barra de arriba
 */
.feed-options{
    padding-top: 20px;
    width: 100%;
    display: flex;
}
.feed-buttons{
    width: 100%;
    margin-left: 140px;
    margin-right: 34%;
    height: 2.8rem;
    background: linear-gradient(#e8f5fc, #cce9f9);
    outline: none;
    border: none;
    border-radius: 1.625rem;
    padding: 10px 3.5rem 0 1.5rem;
    font-size: 1rem;
    display:flex;
    justify-content: center;
}
.feed-buttons button{
    border: 0;
    background-color: #11111100;
}

.feed-buttons button:hover {
    color: #2e4681;
    background-color: #b1b1b1;
    border-collapse: collapse;
    border-radius: 1.625rem;
}
/*  ===================================
    centramos el contenido principal
 */
.feed{
    padding-left: 110px;
    padding-right: 25%;
    max-width: 90%;
}
/*  ===================================
    boton para postear
 */
.post-button{
    position: fixed;  /* Fija la posición del botón */
    bottom: 20px;     /* Lo sitúa a 20px del borde inferior */
    right: 35%;      /* Lo sitúa a 20px del borde derecho */
    width: 60px;      /* Ancho del botón */
    height: 60px;     /* Alto del botón */
    background-color: #1456ff;  /* Color de fondo */
    color: white;     /* Color del texto */
    font-size: 30px;   /* Tamaño de la fuente */
    border: none;     /* Sin borde */
    border-radius: 50%; /* Hace el botón redondo */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);  /* Sombra suave */
    cursor: pointer; /* Apunta al cursor como mano */
    transition: background-color 0.3s ease;  /* Animación suave al pasar el cursor */
}
.post-button img{
    margin: auto;
    height: 75%;
    width: 75%;
}
.post-button:hover{
    background-color: #5283ff;  /* Cambia el color al pasar el mouse */
}