{% extends 'base.html.twig' %}

{% block title %}Buscar{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/search/searchBar.css') }}"/>
    <div class="wrapper">
        <div class="searchBar">
            <form method="get">
                <input id="searchQueryInput" type="text" name="searchQueryInput" placeholder="busca" value="" />
                <button id="searchQuerySubmit" type="submit" name="">
                    <img src="{{ asset('res/icons/search.svg') }}" alt="Search Icon">
                </button>
            </form>
            <nav class="nav-bar">
                <ul>
                    <li><a href="#" class="nav-link" data-target="posts">Publicaciones</a></li>
                    <li><a href="#" class="nav-link" data-target="usuarios">Usuarios</a></li>
                </ul>
            </nav>
        </div>
        {% if posts is defined or users is defined %}
        <div id="posts" class="nav-content">
            {% include 'partials/_posts_list.html.twig' with { posts: posts } %}
        </div>
        <div id="usuarios" class="nav-content" style="display: none;">
            {% include 'partials/_user_list.html.twig' with { users: users } %}
        </div>
    </div>
        {% else %}
        <div id="posts" class="nav-content">
                <p>empieza a buscar entre posts</p>
            </div>
            <div id="usuarios" class="nav-content" style="display: none;">
                <p>empieza a buscar entre posts usuarios</p>
            </div>
        </div>
        {% endif %}
    <script src="{{ asset('js/profile/profile.js') }}"></script>
    {# por increible que parezca este script es universal, puedes cambiar los ids y toddo sigue funcionando bien #}

    <!-- final de documento -->
{% endblock %}
