{% extends 'base.html.twig' %}

{% block title %}Buscar{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/search/searchBar.css') }}"/>
    <div class="wrapper">
        <div class="searchBar">
            <input id="searchQueryInput" type="text" name="searchQueryInput" placeholder="busca" value="" />
            <button id="searchQuerySubmit" type="submit" name="searchQuerySubmit">
                <img src="{{ asset('res/icons/search.svg') }}" alt="Search Icon">
            </button>
            <nav class="nav-bar">
                <ul>
                    <li><a href="#" class="nav-link" data-target="posts">Publicaciones</a></li>
                    <li><a href="#" class="nav-link" data-target="usuarios">Usuarios</a></li>
                </ul>
            </nav>
        </div>

        <!--//TODO =============================================0
            hay que acabar de ratearle l codigo al marc pa que funcione y se vea bonito
        -->

        <div id="posts" class="nav-content">
            <p>busqueda de publicaciones</p>
        </div>
        <div id="usuarios" class="nav-content" style="display: none;">
            <p>busqueda de usuarios</p>
        </div>
    </div>

    <script src="{{ asset('js/profile.js') }}"></script>
    {# por increible que parezca este script es universal, puedes cambiar los ids y toddo sigue funcionando bien #}

    <!-- final de documento -->
{% endblock %}
