/* chat pannel */
.container {
    position: fixed;
    top: 10px;
    right: 10px;
    bottom: 10px;
    width: 28%;
    background: linear-gradient(#184352, #1a344f, #1e2d4b);
    border-radius: 10px;
    padding: 1rem;
    box-sizing: border-box;
}


.chat-section {
    width: 80%;
    height: 20%;
    border: 2px solid #c1dbf4;
    border-radius: 20px;
    margin: 20px auto;
    position: relative;
}

.chat-section::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 20px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #c1dbf4;
}

.profile-section {
    width: 100%;
    height: 40%;
    border-top: 2px solid #c1dbf4;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.profile-icon {
    width: 40px;
    height: 40px;
    border: 2px solid #c1dbf4;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-text {
    font-size: 14px;
    color: #c1dbf4;
}