<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {#===========0 el titulo se tiene que pasar por php y el favicon se tiene que cambiar =================#}
        <title>{% block title %}{% endblock %}</title>
        <link rel="favicon" href="res/icons/feather.svg">

        {% block stylesheets %} {#{ encore_entry_link_tags('app') }#}
            {# <link rel="stylesheet" href="css/reset.css"/> #}
            <link rel="stylesheet" href="css/base.css"/>
        {% endblock %}

        {% block javascripts %} {#{ encore_entry_script_tags('app') }#}
            <script src="js/base.js"></script>
        {% endblock %}
    </head>
    <body>
        <!-- ===================================0
                barra lateral izquierda     -    tecnicamente el header-->
        <header>
            <div id="mySidenav" class="sidenav">
                <div> <!-- parte de arriba -->
                    <img id="home-btn" src="res/icons/home.svg">
                    <img id="likes-btn" src="res/icons/heart.svg">
                    <img id="star-btn" src="res/icons/star.svg">
                </div> <!-- pfp -->
                <div class="profile-picture">
                    <img id="user" src="res/icons/meh.svg">
                </div>
            </div>
        </header>
        <!-- ===================================0
                cuerpo del texto    -->
            {% block body %}    {% endblock %}

    </body>
</html>
